                      Probability Analysis for Mobile App Development for Lottery Addiction                 
                 
A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

The app developer wants the patients to answer few questions like
1)What is the probability of winning the big prize with a single ticket?
2)What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
3)What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

Two functions one to calculate factorials and other to find the combinations.

In [23]:
def factorial(n):
    final_product = 1
    for i in range (n,0,-1):
        final_product  *= i
    return final_product
def combination(n,k):
    numerator  = factorial(n)
    denominator = factorial(n - k)
    return numerator/denominator

Function to calculate the probability of winning the big prize using a single ticket.In 6/49 lottery, six numbers are drawn from 49 numbers in range and if those match the 6 numbers in the ticket,the player wins.

In [24]:
def one_ticket_probability(six_list):
    num_of_comb = combination(49,6)
    prob_one_ticket = 1/num_of_comb
    percentage_prob = prob_one_ticket * 100
    
    print('''The user chances to win a big prize with the numbers {} are {:.7f}%.In other words,you have 1 in {:,} chances to win.'''.format(six_list,percentage_prob,int(num_of_comb)))

In [25]:
test_input_1 = [2, 43, 22, 23, 11, 5]
one_ticket_probability(test_input_1)

The user chances to win a big prize with the numbers [2, 43, 22, 23, 11, 5] are 0.0000000%.In other words,you have 1 in 10,068,347,520 chances to win.

Explore the historical data of 3665 drawings to compare the user ticket with this experiment.The dataset is from kaggle in this link:https://www.kaggle.com/datascienceai/lottery-dataset

In [26]:
import pandas as pd
df = pd.read_csv('649.csv')
df.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

Function to extract the winning six numbers from the data set

In [27]:
def extract_numbers(rows):
    rows = rows[4:10]
    rows = set(rows.values)
    return rows

winning_numbers = df.apply(extract_numbers,axis = 1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
5        {8, 41, 20, 21, 25, 31}
6       {33, 36, 42, 18, 25, 28}
7        {7, 40, 16, 17, 48, 31}
8        {5, 38, 37, 10, 23, 27}
9        {4, 37, 46, 15, 48, 30}
10        {33, 38, 7, 9, 42, 21}
11      {36, 11, 43, 17, 19, 20}
12       {37, 7, 14, 47, 17, 20}
13      {35, 44, 25, 28, 29, 30}
14       {36, 39, 8, 41, 47, 18}
15       {9, 12, 13, 14, 44, 48}
16       {4, 40, 43, 44, 14, 18}
17      {34, 35, 36, 13, 16, 18}
18      {36, 11, 23, 25, 28, 29}
19       {37, 7, 45, 18, 23, 25}
20      {37, 11, 45, 18, 19, 31}
21       {8, 14, 16, 48, 18, 31}
22       {4, 11, 45, 23, 24, 25}
23        {33, 34, 3, 4, 48, 19}
24       {5, 43, 17, 21, 28, 30}
25       {36, 6, 38, 46, 17, 24}
26        {4, 9, 10, 11, 43, 46}
27       {32, 33, 7, 13, 45, 23}
28      {35, 37, 11, 18, 22, 28}
29      {35, 45, 48, 25, 26, 31}
                  ...
3635     {2, 10, 43, 44, 48, 28}
3636      {1, 33, 9, 10, 43, 19}
3637    {35, 43, 44, 46, 16, 17}
3638       {1, 5, 39, 9, 41, 12}
3639     {9, 11, 45, 49, 28, 30}
3640    {11, 12, 46, 19, 24, 28}
3641      {3, 7, 43, 47, 22, 26}
3642       {34, 6, 8, 9, 40, 13}
3643    {36, 40, 47, 49, 18, 22}
3644      {32, 3, 7, 41, 10, 43}
3645     {1, 36, 11, 48, 49, 19}
3646    {39, 12, 17, 19, 22, 27}
3647    {41, 12, 49, 19, 20, 30}
3648    {40, 10, 46, 14, 16, 15}
3649    {33, 34, 44, 46, 24, 31}
3650      {4, 37, 36, 7, 49, 28}
3651     {33, 4, 48, 18, 24, 26}
3652    {36, 37, 15, 17, 21, 24}
3653     {34, 37, 6, 44, 17, 21}
3654    {39, 46, 19, 21, 28, 30}
3655    {34, 38, 44, 14, 15, 28}
3656      {4, 9, 42, 44, 15, 20}
3657    {39, 12, 13, 44, 16, 23}
3658     {38, 39, 9, 14, 17, 21}
3659     {32, 2, 40, 45, 49, 26}
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

Function to compare the canadian historical data with the user ticket to show whether they would have won.

In [30]:
def check_historical_occurence(user_input,hist_numbers):
    user_numbers = set(user_input)
    chk_occurence = user_numbers == hist_numbers
    num_occurence = chk_occurence.sum()
    if num_occurence == 0:
        print("The combination has never occured")
    else:
        print("The number of times combinations occured is {}".format(num_occurence))

In [31]:

test_input_3 = [33, 36, 37, 39, 8, 41]
check_historical_occurence(test_input_3, winning_numbers)

The number of times combinations occured is 1

Function to estimate the chances of winning using more than one ticket

In [32]:
def multi_ticket_probabilty(n_tickets):
    num_combinations = combination(49,6)
    num_successful_outcomes = n_tickets/num_combinations
    percentage_probability  = num_successful_outcomes * 100
    if n_tickets == 1:
        print("Chance to win the lottery using one big ticket is {}".format(percentage_probability))
    else:
        combinations_final = num_combinations/n_tickets
        print("Chance to win the lottery using more than one ticket is {}".format(combinations_final))

In [34]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for test_input in test_inputs:
    multi_ticket_probabilty(test_input)
    print('------------------------') # output delimiter

Chance to win the lottery using one big ticket is 9.93211644724794e-09
------------------------
Chance to win the lottery using more than one ticket is 1006834752.0
------------------------
Chance to win the lottery using more than one ticket is 100683475.2
------------------------
Chance to win the lottery using more than one ticket is 1006834.752
------------------------
Chance to win the lottery using more than one ticket is 10068.34752
------------------------
Chance to win the lottery using more than one ticket is 1440.0
------------------------
Chance to win the lottery using more than one ticket is 720.0
------------------------